@model IEnumerable<Partial_Views_Prj.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>General View of Products</h2>
@foreach (var p in Model)
{
    <ul>
        <li>@p.ProductId</li>

        <li>@p.ProductName</li>

        <li>@p.Price</li>
    </ul>
}
<hr />
<h2>Products Partial View Rendering Using Multiple Options</h2>
@*@Html.Partial("Productdetails");*@
@*@{Html.RenderPartial("ProductDetails");
    }*@
@*@{ Html.RenderAction("GetAllProducts");}*@
@*@Html.Action("GetAllProducts");*@
<hr/>
<!--using jquery load function-->
<div id="partialview">

</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#partialview").load('/Product/GetAllProducts');
    });
</script>
