@model User
@{
    ViewData["Title"] = "Index";
}

<h1>Index of User</h1>


    @if(!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success">
            @ViewBag.Message
            </div>
    }